DATABASE_URL = postgresql+asyncpg://neondb_owner:npg_icM2vRHn6qes@ep-noisy-king-ah8z3emv-pooler.c-3.us-east-1.aws.neon.tech/neondb

SECRET_KEY=7b17abb7-b2d4-4a48-8056-18c3d8a232ce
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Attendance settings
MAX_DISTANCE_METERS=50
SESSION_WINDOW_MINUTES=15
